---
layout: default
title: Islay & Peated % Smoky
permalink: /islay-peated-smoky
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in site.categories.islay-peated-smoky %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>