<div class='legal-age-popup'>
    <div class='popup-container'>
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center text-lg-center">
                <h1>18 yaşından büyük müsünüz?</h1>
                <h1>Are you of legal age?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-center">
                <button id="yes" class="btn btn-success rounded">Evet/Yes</button>
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-center">
                <button id="no" class="btn btn-warning rounded">Hayır/No</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center text-lg-center">
                <p> Blog yazıları reklam, özendirme ve tanıtım amaçlı değildir.</p>
            </div>
        </div>
    </div>
</div>