<div class="share">
    <ul>
        <p>
            Share
        </p>
        <li id="native-share" class="ml-1 mr-1">
            <a target="_blank" onclick="share( '{{ page.title }}', '{{ site.url }}{{ site.baseurl }}{{ page.url }}' );">
                <i class="fas fa-share"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-round="true" data-pin-tall="true">
            </a>
        </li>

    </ul>
</div>

<script>
    
    document.addEventListener('readystatechange', () => {    
        if (document.readyState == 'complete') {
            if (!navigator.share) {
                document.getElementById("native-share").remove();
            }
        }
    });

    function share(title, url) {
        if (navigator.share) {
            navigator.share({
                title: title,
                url: url
            }).then(() => {
                console.log('Thanks for sharing!');
            })
            .catch(console.error);
        } else {
            console.log("Sorry, share is not possible!");
        }
    }
    
</script>